.navBar{
  background-color: #1ca1da; 
  overflow: hidden;
}

.navBar .logo {
  float: left;
  max-width: 45px;
  padding: 5px 10px;
}

.brand {
  font-family:'Sacramento', cursive;
  float: left;
  color: white;
  padding: 10px 0px 0px;
  font-size: 30px;
}

.navBar .menu-item, .navBar .icon {
  float: right;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navBar .menu-item:hover{
  background-color: white;
  color: #009cde;
}


.navBar .icon{
  display: none;
}


@media (max-width: 800px){
  .navBar .menu-item {
    display: none;
  }
/*Brings the menu icon into view and floats it to the right*/
  .navBar a.icon{
    display: block; 
    float: right;
  }
  
  .navBar.responsive {
    position: relative;
  }
  .navBar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .navBar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .navBar.responsive .logo, .navBar.responsive .brand {
    display: none;
  }
}

#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}